.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e0e0e0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

    .task-status {
        background-color: #5c5c5c;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
    }

    .task-content {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        margin-left: 10px;

        .task-title {
            margin: 0;
        }

        .task-date {
            color: gray;
        }
    }


}